<hr>
<div class="wall">
    <div class="post-input">
        <form
          [formGroup]="form"
          (ngSubmit)="onSubmit()">
            <div
              class="form-container"
              [ngClass]="{'has-error':
                form.get('title')?.invalid && form.get('title')?.touched &&
                form.get('content')?.invalid && form.get('content')?.touched}">
                <input
                      type="text"
                      class="line-input"
                      formControlName="title"
                      placeholder="Название"
                      spellcheck="false"
                      maxlength="50">
                <textarea
                      style="resize: none;"
                      formControlName="content"
                      maxlength="2500"
                      spellcheck="false"
                      placeholder="Поделитесь чем-нибудь!">
                    </textarea>
                <input
                  type="submit"
                  class="button"
                  [disabled]="this.form.invalid"
                  value="Отправить">
            </div>
        </form>
    </div>
    <div>
      <div 
      class="no-posts"
      *ngIf="user?.posts!.length == 0">
          Стена пуста!
      </div>
      <div 
        class="posts-row"
        *ngIf="user?.posts!.length != 0">
        <div class="select">
          Порядок постов:
          <select #selectList (change)="onChange($event)">
            <option selected value="0">от новых к старым</option>
            <option value="1">от старых к новым</option>
          </select>
        </div>
        <div
          *ngFor="let post of posts; index as i"
          class="post"
          style="white-space: pre-line;">
          <div class="post-header">
            <span style="color: #d0cad0;">{{post.date}}</span><br>
            <a [routerLink]="['/userpage/posts', postsReverse ? posts.length-i : i+1]"><b>{{post.title}}</b></a></div>
            {{post.content}}
      </div>
    </div>
    </div>
</div>
