<div class="login-window">
    <div class="header">Авторизация<hr></div>
    <form 
      [formGroup]="form" 
      (ngSubmit)="onSubmit()">
    <div [ngClass]="{'has-error': form.get('login')?.invalid && form.get('login')?.touched && form.get('password')?.invalid && form.get('password')?.touched}">
        <input 
          class="line-input" 
          type="text" 
          formControlName="login" 
          placeholder="Логин"
          spellcheck="false"
          maxlength="20"><br>
          <input 
          class="line-input" 
          type="password" 
          formControlName="password" 
          placeholder="Пароль"
          maxlength="20">
        <div 
          class="form-error" 
          *ngIf="form.get('login')?.errors?.required && form.get('login')?.touched">
            <img align="center" src="assets//img/alert.svg" width="25" height="25">
            Поле "Логин" не может быть пустым
        </div>
        <div 
          class="form-error" 
          *ngIf="form.get('login')?.errors?.minlength && form.get('login')?.touched">
            <img align="center" src="assets//img/alert.svg" width="25" height="25">
            Логин должен состоять как минимум из 3 символов
        </div>
        <div 
          class="form-error" 
          *ngIf="form.get('password')?.errors?.required && form.get('password')?.touched && 
          !(form.get('login')?.errors && form.get('login')?.touched)">
            <img align="center" src="assets//img/alert.svg" width="25" height="25">
            Поле "Пароль" не может быть пустым
        </div>
        <div 
          class="form-error" 
          *ngIf="form.get('password')?.errors?.minlength && form.get('password')?.touched && 
          !(form.get('login')?.errors && form.get('login')?.touched)">
            <img align="center" src="assets//img/alert.svg" width="25" height="25">
            Пароль должен состоять как минимум из 8 символов
        </div>
    </div>
    <div
      class="form-error"
      *ngIf="loginErr &&
      !(form.get('login')?.errors && form.get('login')?.touched) &&
      !(form.get('password')?.errors && form.get('password')?.touched)">
        <img align="center" src="assets//img/alert.svg" width="25" height="25">
        Неверный логин или пароль
    </div>
    <div>
        <input 
          class="button" 
          type="submit"
          [disabled]="form.invalid"
          value="Войти"
          style="margin-right: 10px;">
        <input 
          class="button" 
          type="button" 
          [routerLink]="['/registration']"
          value="Регистрация">
    </div>
    </form>
</div>