.fullpost {
    background-color: #f1f1f0;
    border: 1px solid #383940;
    outline: 1px solid #383940;
    border-radius: 30px;
    overflow: hidden;
    text-align: center;

    padding: 15px;
    width: 700px;
    margin: auto;
    word-wrap: break-word;
}